/* Write your CSS code here */
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-menu {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  padding: 20px;
  font-size: 20px;
  color: #000000;
}
