/* Write your CSS code here */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-heading {
  font-family: 'Roboto';
  font-size: 30px;
}

.login-button {
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
  outline: none;
}
